body {
  /* background: rgb(191, 188, 255);
  background: linear-gradient(
    90deg,
    rgba(191, 188, 255, 1) 0%,
    rgba(76, 0, 198, 1) 0%,
    rgba(255, 172, 167, 1) 74%,
    rgba(255, 172, 167, 1) 100%
  ); */
  color: black;
}
#loginhome .login h3 {
  color: black;
  text-align: center;
  margin-top: 50px;
}

#loginhome .box {
  width: 400px;
  margin: 0 auto;
  background-color: #8696fe;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar_bgcolor {
  background-color: #8696fe !important;
}

.navbar_background {
  background-color: #45aaf2 !important;
}

.box {
  width: 1200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
